/* styles.css*/ 

p.story1P {
	background-color: #e2af38;	
}

h1.story1H1 {
	color:red;
}

ul.story1Ul{
	background-color: #e2af38;
}

head.story1Head {
	background-color: #e5ba57;
}

head.story2Head {
	background-color: #e5ba57;
}

h1.story2H2 {
	color: black; 
	background-color: #775403;
}

p.story2P1{
	font-family: cursive; 
	background-color: #775403;
}

ul.story2Ul{
	color: white; 
	background-color: #775403;
}

li.story2Li{
	color:white;
}

p.story2P2 {
	font-family: cursive;
	 color: black; 
	 background-color: #775403;
}

head.story3Head {
	background-color: #e5ba57;
}

body.story3Body {
	background-color: #aa010a;
}

p.story3P1 {
	background-color:#cebd5c;
	color:#ad7f01;
	font-size: 75px;
	text-align: center;
}

 p.story3P2{
 	background-color:#cebd5c;
 	font-size: 18px; 
 	color: black;
}

p.story3P3 {
 	background-color:#cebd5c;
 	font-size: 18px; 
 	color: black;
}

 p.story3P4 {
 	background-color:#cebd5c;
 	font-size: 14px; 
 	color: black;
}

 p.story3P5 {
 	background-color:#cebd5c;
 	font-size: 15.5px; 
 	color: black;
}

p.story3P6 {
	background-color:#cebd5c;
	font-size: 18px; 
	color: black;
}
p.story3P7 {
	background-color:#cebd5c;
	font-size: 18px; 
	color: black;
}

p.story3P8 {
	background-color:#cebd5c;
	font-size: 20px; 
	color: black;
}
h1.indexH1{
	font-size: 50px; 
	color:blue; 
	text-align: center; 
	background-color: #8fedfc;
}
head.indexHead {
	background-color: #e5ba57;
}
p.title{
	font-size: 50px;
	text-align: center;
	color: black;
	bbackground-color: #404b5e;
}
body.dark {
	background-color: #c64547;
}
.letterBoard {
	background: url(http://www.pd4pic.com/images/old-school-scroll-certificate-paper-newspaper.png);
  background-repeat: no-repeat;
	background-size: cover;
	border: 2px solid black;
}
div.transbox {
  margin: 30px;
  ;
	color:black;
  border: 1px solid white;
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

.storyline {
	background-color: #404b5e;
	color: #080d16;
	font-size: 20px;
	color: black;
}
p.script{
	font-family: Roundhand;
}
h1.alignLeft {
	text-align: left;
}
h2.alignCenter {
	text-align: center
}

.bold {
	font-weight: bold;
}

.blogPost {
	padding: 0.55em 1em;
	margin: 1em auto;
	border: 1px solid #222222;
	width: 75%;
	border-radius: 5px;
}

.blogPost h1 {
	font-size: 1.3em;
	font-weight: 600;
	color: #111111;
	text-transform: uppercase;
	text-decoration: underline;
}

.blogPost h2 {
	font-size: 1em;
	font-weight: 500;
	color: #222222;
}

.blogPost p {
	color: #222222;
	font-size: 0.85em;
}

.blogPost p a {
	color: green;
}